/* здесь используйте глобальные переменные */
// Шрифты
$primary-font: "Archivo Narrow", "arial", sans-serif;
$secondary-font: "Airfool", "arial", sans-serif;

// Цвета
$basic-white: #ffffff;
$basic-pink: #ef2fa2;
$pink-boll-1: #ef48b2;
$pink-boll-2: #f3b9b8;
$pink-boll-3: #ff9be9;
$pink-boll-4: #fdc0f0;
$pink-boll-5: #ef74c3;
$pink-boll-6: #fecfef;
$pink-boll-7: #d49ecf;
$pink-boll-8: #e7d5c9;
$pink-boll-9: #acd9f0;
$violet: #9f5280;
$basic-grey: #b0a5a5;
$pink-button: #f09ed2;
$white-pink: #feeff9;


//Вьюпорты
$width-tablet: 768px;
$width-desktop: 1440px;
