.hero {
  padding: 0 24px;
  padding-bottom: 53px;

  @media (min-width: $width-tablet) {
    padding: 0 79px;
    padding-bottom: 80px;
  }

  @media (min-width: $width-desktop) {
    padding-bottom: 100px;
  }
}

.hero__wrapper {
  max-width: 258px;
  margin: 0 auto;

  @media (min-width: $width-tablet) {
    max-width: 610px;
  }
}
