.main-header {
  padding: 22px 26px;
  padding-bottom: 30px;

  @media (min-width: $width-tablet) {
    display: flex;
    padding: 29px 31px;
    align-items: center;
    flex-wrap: wrap;
  }

  @media (min-width: $width-desktop) {
    padding: 46px 102px;
    max-width: 1440px;
    margin: 0 auto;
    min-width: 1220px;
  }
}

.main-header__icon {
  @media (min-width: $width-tablet) {
    width: 187px;
    height: 37px;
  }

  @media (min-width: $width-desktop) {
    width: 202px;
    height: 46px;
  }
}

.main-header__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active,
  &:focus {
    opacity: 0.6;
    outline: none;
  }
}
