.site-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 25px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  background-color: $basic-white;
  z-index: 1;

  @media (min-width: $width-tablet) {
    position: relative;
    display: flex;
    margin-top: 0;
  }
}

.site-list__item {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: $width-tablet) {
    margin-right: 47px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 28px;

    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  @media (min-width: $width-desktop) {
    font-size: 20px;
    line-height: 29px;
    margin-right: 58px;
  }
}

.site-list__link {
  text-decoration: none;
  color: $basic-pink;
  position: relative;

  &--current::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background: $pink-button;
    left: 50%;
    transform: translate(-50%);
    top: 25px;
    border-radius: 30px;

    @media (min-width: $width-tablet) {
      height: 3px;
      top: 35px;
    }

    @media (min-width: $width-desktop) {
      top: 33px;
    }
  }

  &:hover {
    opacity: 0.8;
  }

  &:active,
  &:focus {
    opacity: 0.6;
    outline: none;
  }
}
